<%- include('includes/header.ejs'); -%>
<%- include('includes/navbar.ejs'); -%>
<main>
    <div class="container pt-5">
        <div>
            <h1>About this site</h1>
            <p class="lead">The site was made as a developer test task for Affluent Analytics company.
                    <br> No animals were harmed in the making of this site. </p>
        </div>
        <div class="row">
            <div class="col text-center mb-4 fixed-bottom">
                Velikiy Novgorod, 2019                        
            </div>
        </div>
    </div>
</main>
<%- include('includes/scripts.ejs'); -%>
