<%- include('../includes/header.ejs'); -%>
<%- include('../includes/navbar.ejs', { csrf }); -%>
<main>
    <div class="container pt-5">
        <div>
            <h1>Oops..Page Not Found</h1>
            <p class="lead">Seems to be a 404 error, huh?</p>
        </div>
        <div class="row">
            <div class="col text-center mb-4 fixed-bottom">
                Velikiy Novgorod, 2020                        
            </div>
        </div>
    </div>
</main>
<%- include('../includes/scripts.ejs'); -%>
